<div class="container mt-3">
 <div class="row">
  <h3>Login </h3>
  <div class="mb-3">
    <label for="Email" class="form-label">Email</label>
    <input type="email" class="form-control" id="Email" placeholder="Enter Your Email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Enter your password">
  </div>
  <div class="mb-3">
    <input type="button" class="btn btn-success" value="Submit">
  </div>
 </div>
</div>

